.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
}

.card > img{
    width: 200px;
}