.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.card{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.card > img{
    height: 200px;
    object-fit: cover;
}

.card > p{
    font-size: xx-large;
    font-weight: bold;
}